* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#section-1 {
    background-image: url(back-1.png); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.navbar > img {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}

li > a {   
    padding-top: 20px;
    padding-right: 30px; 
    margin-left: 10px;
    color: white;
    border-radius: 5px;
    display: inline-block;
    font-size: 22px;
    font-family: "Anton SC", sans-serif;
    text-decoration: none;
}

li {
    display: inline;
}

ul {
    margin-left: 1000px;    
}

#section-1 h1, h3 {
    font-family: "a Atmospheric";
    color: white;
    margin: 0;
    font-size: 50px;
    position: relative; 
    top: 240px;
    left: 600px;   
}

h3.left {
 margin-left: 90px;
}

#section-2 {
    background-image: url(back-2.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#section-2 > img {
    position: relative;
    top: 200px;
    left: 250px;
    z-index: 1;
    transition: transform 0.3s ease;
}

#section-2 > img:hover {
    transform: translateY(-5px);
}

#div-a {
    background-color: #161C4B;
    width: 312px;
    height: 406px;
    position: relative;
    border-radius: 20px;
    bottom: 180px;
    left: 300px;
}



#section-2 > p {
    position: relative;
    text-align: left;
    bottom: 450px;
    color: white;
    font-size: 20px;
    left: 700px;
}

#section-2 > h1 {
    position: relative;
    color: white;
    font-size: 40px;
    left: 700px;
    bottom: 480px;
    text-align: left;
    font-family: "Anton SC", sans-serif;
    font-weight: 700;
}


#section-3 {
    background-image: url(back-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#section-3 > h1 {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 40px;
}

.container{
    display: flex;
    justify-content: center;
}

.container > a {
    text-decoration: none;
}

.card {
    width: 356px;
    height: 484px;
    border-radius: 30px;
    margin-left: 40px;
    background-color: #0C1241;
    position: relative;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card > img {
    display: block;
    margin: auto;
    padding-top: 40px;
    width: auto;
    height: 256px;

}

.card-content > h2 {
    padding-top: 30px;
    color: white;
    font-size: 30px;
    font-family: "Anton SC", sans-serif;
    text-align: center;
}

.card-content > p {
    color: white;
    font-size: 20px;
    text-align: center;
}


.contact {
    background-color: #050A30;
    border: 3px solid white;
}
.contact > h1 {
    color: white;
    font-size: 50px;
    font-family: "Anton SC", sans-serif;
    text-align: center;
    padding-top: 20px;
}

.contact > p {
    color: white;
    font-size: 20px;
    font-family: "Anton SC", sans-serif;
    text-align: center;
    padding-top: 10px;
}

.foot {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.foot-1 {
    display: flex;
    align-items: center;
}

.foot-1 > p {
    color: white;
    font-family: "Anton SC", sans-serif;
    font-size: 30px;
    font-weight: 600;
}